body{
    min-height: 100vh;
    background-image: linear-gradient(#fff 1%, #fffce4 50%, #fff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}

#card{
    padding: 1.5vw;
    background-image: linear-gradient(to bottom right, #ffefee 40%, #f4aaaa 80%, #ee8888 100%);
    width: 50vw;
    aspect-ratio: 3.5 / 2;
    container-type: inline-size;
    display: flex;
    border-radius: 5%;
    box-sizing: border-box;
    align-items: center;
    box-shadow: 0 0 20px 1px #0002;
}

#card-info{
    display: flex;
    flex-direction: column;
}

img{
    height: 60%;
    border-radius: 2%;
    margin: 2vw 2vw;
}

h1{
    font-size: 8cqw;
}

h2{
 font-size: 4.5cqw;
}

h1, h2{
    margin: 1vw;
}